* { 
	margin: 0;
	padding-left: 0;
    width: 2000px;
    display: block;
}
body {
    display: grid; 
    grid-template: auto 1fr auto / 70% auto auto;
  }
  
  .header { 
    background: rgb(74, 74, 74);
    color: white;
    font-size: 1rem;
    font-weight: 500;  
    padding: 1rem;
    height: 5rem;
    grid-column: 1 / 3;

}
  h1 {
    font-size: 1.2rem;
    font-weight: 500;
   
  }
  nav {
    background-color: rgb(11, 11, 11);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    width: 2000px;
    height: 3rem;

  }
  
    .about a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5rem;
    
}
  main { 
    background: rgb(188, 185, 190);
    color: black;
    grid-column: 1 / 2;
    height: 35rem;
    padding: 1rem;
    height: 35rem;
   
  }
  
  .aside-content {
    background:white;
    color: black;
    height: 37rem;
    grid-template-columns:2 / 2;
  }
  
  footer {
    background: rgb(74, 74, 74);
    color: white;
    text-align: center;
    grid-column: 1 / 3;
    font-size: 1.2rem;
    font-weight: 500;  
    padding: 1rem;
    height: 12rem;
  }
  